{% extends 'base.html' %}
{% load static %}
{% block body %}

<!--body content wrap start-->
<div class="main">

    <!--hero section start-->
    <section class="hero-equal-height ptb-70">
        <div class="hero-shape-left" style="background: url('img/t6-hero-shape.svg')no-repeat top left"></div>
        <img src="img/cta-2-path-shape.png" alt="group shape" class="img-fluid group-shape-1">
        <img src="img/cta-2-circle-shape.png" alt="group shape" class="img-fluid group-shape-2">
        <img src="img/cta-2-tringle-shape.png" alt="group shape" class="img-fluid group-shape-3">
        <img src="img/cta-2-tringle-shape.png" alt="group shape" class="img-fluid group-shape-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-6">
                    <div class="hero-slider-content text-white pt-5">
                        <strong class="color-secondary">Digital Marketing</strong>
                        <h1 class="text-white">Empower Your Business Traffic at The Top</h1>
                        <p class="lead">Holisticly procrastinate mission-critical convergence with reliable customer service. Assertively underwhelm idea-sharing for impactful solutions. </p>

                        <div class="action-btns mt-3">
                            <a href="#" class="btn secondary-solid-btn">Get Start Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="img-wrap">
                        <img src="img/t6-hero-img1.svg" alt="hero" class="img-fluid custom-width">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--hero section end-->

    <!--promo section start-->
    <section class="promo-section ptb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="promo-single-wrap p-5 text-center custom-shadow rounded">
                        <div class="promo-icon mb-4">
                            <img src="img/search-engine.svg" alt="promo" width="65">
                            <span class="number-bg">01</span>
                        </div>
                        <div class="promo-info">
                            <strong class="color-secondary">Discuss with Users</strong>
                            <h4>Site Optimisation</h4>
                            <p>What is business contents insurance? Business contents insurance is a type of
                                business.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="promo-single-wrap p-5 text-center custom-shadow rounded">
                        <div class="promo-icon mb-4">
                            <img src="img/increase.svg" alt="promo" width="65">
                            <span class="number-bg">02</span>
                        </div>
                        <div class="promo-info">
                            <strong class="color-secondary">Discuss with Users</strong>
                            <h4>Increased Traffic</h4>
                            <p>What is business contents insurance? Business contents insurance is a type of
                                business.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="promo-single-wrap p-5 text-center custom-shadow rounded">
                        <div class="promo-icon mb-4">
                            <img src="img/bullhorn.svg" alt="promo" width="65">
                            <span class="number-bg">03</span>
                        </div>
                        <div class="promo-info">
                            <strong class="color-secondary">Discuss with Users</strong>
                            <h4>Digital Marketing</h4>
                            <p>What is business contents insurance? Business contents insurance is a type of
                                business.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--promo section end-->

    <!--why choose us section start-->
    <section class="why-choose-us ptb-100 gray-light-bg">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-6 col-lg-5">
                    <div class="why-choose-us-wrap">
                        <strong class="color-secondary">Why Choose Us</strong>
                        <h3>Best Consulting Every For Business</h3>
                        <span class="animate-border mb-4"></span>
                        <p>Globally reinvent cross-unit human capital whereas virtual catalysts for change. Assertively
                            network accurate methods of empowerment rather than client-centered improvements.</p>

                        <div class="skill-content-wrap">
                            <div class="progress-item">
                                <div class="progress-title">
                                    <h6>Technical skills<span class="float-right"><span
                                            class="progress-number">80</span>%</span>
                                    </h6>
                                </div>
                                <div class="progress">
                                    <span style="width:80%;"><span class="progress-line"></span></span>
                                </div>
                            </div>
                            <div class="progress-item">
                                <div class="progress-title">
                                    <h6>Web Consulting<span class="float-right"><span class="progress-number">85</span>%</span>
                                    </h6>
                                </div>
                                <div class="progress">
                                    <span style="width:85%;"><span class="progress-line"></span></span>
                                </div>
                            </div>
                            <div class="progress-item">
                                <div class="progress-title">
                                    <h6>Web Consulting<span class="float-right"><span class="progress-number">85</span>%</span>
                                    </h6>
                                </div>
                                <div class="progress">
                                    <span style="width:85%;"><span class="progress-line"></span></span>
                                </div>
                            </div>
                            <div class="progress-item">
                                <div class="progress-title">
                                    <h6>Technical skills<span class="float-right"><span
                                            class="progress-number">80</span>%</span>
                                    </h6>
                                </div>
                                <div class="progress">
                                    <span style="width:80%;"><span class="progress-line"></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="image-wrap">
                        <img src="img/why-choose-us.png" alt="why choose us" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--why choose us section end-->

    <!--call to action progressbar start-->
    <section class="call-to-action ptb-100" style="background: url('img/ctg-bg-2.jpg')no-repeat center center / cover">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="circle-box">
                        <div class="chart" data-percent="70"><span>70%</span></div>
                    </div>
                    <div class="progress-info text-center mt-3">
                        <strong class="color-secondary">Our Services</strong>
                        <h5 class="text-white">Keywords Results</h5>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="circle-box">
                        <div class="chart" data-percent="75"><span>75%</span></div>
                    </div>
                    <div class="progress-info text-center mt-3">
                        <strong class="color-secondary">Our Services</strong>
                        <h5 class="text-white">Google Analytics</h5>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="circle-box">
                        <div class="chart" data-percent="80"><span>80%</span></div>
                    </div>
                    <div class="progress-info text-center mt-3">
                        <strong class="color-secondary">Our Services</strong>
                        <h5 class="text-white">Competition Metrics</h5>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="circle-box">
                        <div class="chart" data-percent="65"><span>65%</span></div>
                    </div>
                    <div class="progress-info text-center mt-3">
                        <strong class="color-secondary">Our Services</strong>
                        <h5 class="text-white">SEO & Marketing</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--call to action progressbar end-->

    <!--services section start-->
    <section class="services-section ptb-100 gray-light-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="section-heading text-center mb-5">
                        <strong class="color-secondary">Our Services</strong>
                        <h2>What Can We Do For You</h2>
                        <span class="animate-border mr-auto ml-auto mb-4"></span>
                        <p class="lead">Efficiently aggregate end-to-end core competencies without maintainable ideas. Dynamically
                            foster tactical solutions without enabled value.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services-single text-center p-5 my-md-3 my-lg-3 my-sm-0 shadow-sm white-bg rounded">
                        <span class="ti-announcement icon-lg color-secondary d-block mb-4"></span>
                        <h5>Marketing Services</h5>
                        <p class="mb-0">Progressively empower business "outside the box" thinking with resource-leveling
                            partnerships.</p>
                        <a href="services-details.html" target="_blank" class="detail-link mt-4">Read more <span class="ti-arrow-right"></span></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services-single text-center p-5 my-md-3 my-lg-3 my-sm-0 shadow-sm white-bg rounded">
                        <span class="ti-light-bulb icon-lg color-secondary d-block mb-4"></span>
                        <h5>Web App Development</h5>
                        <p class="mb-0">Progressively empower business "outside the box" thinking with resource-leveling
                            partnerships.</p>
                        <a href="services-details.html" target="_blank" class="detail-link mt-4">Read more <span class="ti-arrow-right"></span></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services-single text-center p-5 my-md-3 my-lg-3 my-sm-0 shadow-sm white-bg rounded">
                        <span class="ti-headphone-alt icon-lg color-secondary d-block mb-4"></span>
                        <h5>24/7 Call Center Service</h5>
                        <p class="mb-0">Progressively empower business "outside the box" thinking with resource-leveling
                            partnerships.</p>
                        <a href="services-details.html" target="_blank" class="detail-link mt-4">Read more <span class="ti-arrow-right"></span></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services-single text-center p-5 my-md-3 my-lg-3 my-sm-0 shadow-sm white-bg rounded">
                        <span class="ti-bell icon-lg color-secondary d-block mb-4"></span>
                        <h5>Social Media Marketing</h5>
                        <p class="mb-0">Progressively empower business "outside the box" thinking with resource-leveling
                            partnerships.</p>
                        <a href="services-details.html" target="_blank" class="detail-link mt-4">Read more <span class="ti-arrow-right"></span></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services-single text-center p-5 my-md-3 my-lg-3 my-sm-0 shadow-sm white-bg rounded">
                        <span class="ti-briefcase icon-lg color-secondary d-block mb-4"></span>
                        <h5>Corporate Business</h5>
                        <p class="mb-0">Progressively empower business "outside the box" thinking with resource-leveling
                            partnerships.</p>
                        <a href="services-details.html" target="_blank" class="detail-link mt-4">Read more <span class="ti-arrow-right"></span></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services-single text-center p-5 my-md-3 my-lg-3 my-sm-0 shadow-sm white-bg rounded">
                        <span class="ti-vector icon-lg color-secondary d-block mb-4"></span>
                        <h5>Creative Consultancy</h5>
                        <p class="mb-0">Progressively empower business "outside the box" thinking with resource-leveling
                            partnerships.</p>
                        <a href="services-details.html" target="_blank" class="detail-link mt-4">Read more <span class="ti-arrow-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--services section end-->

    <!--outstanding section start-->
    <section class="outstanding-section ptb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-9 col-lg-8">
                    <div class="section-heading text-center mb-1">
                        <strong class="color-secondary">Our Expertise</strong>
                        <h2>Outstanding Experience</h2>
                        <span class="animate-border mr-auto ml-auto mb-4"></span>
                        <p class="lead">Distinctively grow go forward manufactured products and optimal networks.
                            Enthusiastically
                            disseminate user-centric outsourcing revolutionary</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="feature-tabs-wrap">
                        <ul class="nav nav-tabs border-bottom-0 feature-tabs feature-tabs-center d-flex justify-content-center"
                            data-tabs="tabs">
                            <li class="nav-item">
                                <a class="nav-link text-center" href="#feature-tab-1"
                                   data-toggle="tab">
                                    <span class="ti-announcement icon-sm"></span>
                                    <h6 class="mb-0">Digital Marketing</h6>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-center" href="#feature-tab-2"
                                   data-toggle="tab">
                                    <span class="ti-light-bulb icon-sm"></span>
                                    <h6 class="mb-0">SEO Services</h6>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-center active" href="#feature-tab-3"
                                   data-toggle="tab">
                                    <span class="ti-email icon-sm"></span>
                                    <h6 class="mb-0">Email Marketing</h6>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-center" href="#feature-tab-4"
                                   data-toggle="tab">
                                    <span class="ti-shield icon-sm"></span>
                                    <h6 class="mb-0">Social Media</h6>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-center" href="#feature-tab-5"
                                   data-toggle="tab">
                                    <span class="ti-vector icon-sm"></span>
                                    <h6 class="mb-0">Web Design</h6>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content feature-tab-content">
                            <div class="tab-pane mt-5" id="feature-tab-1">
                                <div class="row justify-content-around">
                                    <div class="col-md-12 col-lg-5">
                                        <div class="about-content-right mb-md-4 mb-lg-0 my-md-3 my-lg-3 my-sm-0">
                                            <p>Objectively productivate installed base technology whereas user friendly
                                                ROI.
                                                Phosfluorescently innovate functionalized potentialities revolutionize
                                                client-based applications.</p>

                                            <p>Holisticly utilize emerging leadership skills whereas multifunctional
                                                customer service. Energistically functional bandwidth without granular
                                                mindshare. Monotonectally visualize user-centric methodologies
                                                low-risk.</p>

                                            <ul class="list-unstyled tech-feature-list">
                                                <li class="py-1"><span
                                                        class="ti-control-forward mr-2 color-secondary"></span><strong>Corporate</strong>
                                                    Cash Management
                                                </li>
                                                <li class="py-1"><span
                                                        class="ti-control-forward mr-2 color-secondary"></span><strong>SEO</strong>
                                                    Optimization Services
                                                </li>
                                                <li class="py-1"><span
                                                        class="ti-control-forward mr-2 color-secondary"></span><strong>Company</strong>
                                                    Brand Solutions
                                                </li>
                                            </ul>

                                            <a href="#" class="mt-4 btn secondary-solid-btn">Contact With Us</a>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-6">
                                        <div class="img-wrap my-md-3 my-lg-3 my-sm-0">
                                            <img src="img/about-1.jpg" alt="about" class="img-fluid rounded shadow-sm">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane mt-5" id="feature-tab-2">
                                <div class="row align-items-center justify-content-between">
                                    <div class="col-md-6 col-lg-5">
                                        <div class="why-choose-us-wrap">
                                            <h3>Best Consulting Every For Business</h3>
                                            <p>Globally reinvent cross-unit human capital whereas virtual catalysts for change. Assertively
                                                network accurate methods of empowerment rather than client-centered improvements.</p>
                                            <ul class="list-with-icon">
                                                <li class="d-flex align-items-start">
                                                    <img src="img/increase.svg" width="35" class="mr-3" alt="list icon">
                                                    <div class="list-icon-info">
                                                        <strong>Increased Traffic</strong>
                                                        <p>Conveniently provide access to diverse sources vis-a-vis team building customer service. </p>
                                                    </div>
                                                </li>
                                                <li class="d-flex align-items-start">
                                                    <img src="img/search-engine.svg" width="35" class="mr-3" alt="list icon">
                                                    <div class="list-icon-info">
                                                        <strong>Site Optimisation</strong>
                                                        <p>Efficiently fashion ethical customer service with highly efficient methods of empowerment. </p>
                                                    </div>
                                                </li>
                                                <li class="d-flex align-items-start">
                                                    <img src="img/interface.svg" width="35" class="mr-3" alt="list icon">
                                                    <div class="list-icon-info">
                                                        <strong>Page Rankings</strong>
                                                        <p>Quickly fashion high-quality innovation for cutting-edge sources assertively reinvent inexpensive. </p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="image-wrap">
                                            <img src="img/t6-hero-img1.svg" alt="why choose us" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane active mt-5" id="feature-tab-3">
                                <div class="row align-items-center">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="image-wrap">
                                            <img src="img/tab-img.png" alt="email" class="img-fluid m-auto">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="content-wrap">
                                            <h3>Grow Your Business With Experienced SEO Experts</h3>
                                            <p>Intrinsicly recaptiualize alternative internal or "organic" sources for
                                                inexpensive outsourcing. Monotonectally create sustainable applications
                                                before premier vortals. Holisticly productivate stand-alone value and
                                                cost effective users. </p>
                                            <p>Holisticly syndicate cooperative ideas after pandemic human capital.
                                                Professionally provide access to bricks-and-clicks functionalities for
                                                visionary customer service. Completely reconceptualize cross-media data
                                                for frictionless architectures. </p>

                                            <div class="action-btns mt-4">
                                                <a href="#" class="btn secondary-solid-btn mr-3">Start Now</a>
                                                <a href="#" class="btn secondary-outline-btn">Learn More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane mt-5" id="feature-tab-4">
                                <div class="row align-items-center">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="content-wrap">
                                            <h3>Grow Your Business With Experienced SEO Experts</h3>
                                            <p>Intrinsicly recaptiualize alternative internal or "organic" sources for
                                                inexpensive outsourcing. Monotonectally create sustainable applications
                                                before premier vortals. Holisticly productivate stand-alone value and
                                                cost effective users. </p>
                                            <p>Holisticly syndicate cooperative ideas after pandemic human capital.
                                                Professionally provide access to bricks-and-clicks functionalities for
                                                visionary customer service. Completely reconceptualize cross-media data
                                                for frictionless architectures. </p>

                                            <div class="action-btns mt-4">
                                                <a href="#" class="btn secondary-solid-btn mr-3">Start Now</a>
                                                <a href="#" class="btn secondary-outline-btn">Learn More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="image-wrap">
                                            <img src="img/tab-img.png" alt="email" class="img-fluid m-auto">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane mt-5" id="feature-tab-5">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="services-single p-5 my-md-3 my-lg-3 my-sm-0 white-bg shadow-sm rounded">
                                            <span class="ti-announcement icon-lg color-primary d-block mb-4"></span>
                                            <h5>Marketing Services</h5>
                                            <p class="mb-0">Progressively empower business "outside the box" thinking
                                                with resource-leveling
                                                partnerships.</p>
                                            <a href="services-details.html" target="_blank" class="detail-link mt-4">Read
                                                more <span class="ti-arrow-right"></span></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="services-single p-5 my-md-3 my-lg-3 my-sm-0 white-bg shadow-sm rounded">
                                            <span class="ti-light-bulb icon-lg color-primary d-block mb-4"></span>
                                            <h5>Total SEO Services</h5>
                                            <p class="mb-0">Progressively empower business "outside the box" thinking
                                                with resource-leveling
                                                partnerships.</p>
                                            <a href="services-details.html" target="_blank" class="detail-link mt-4">Read
                                                more <span class="ti-arrow-right"></span></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="services-single p-5 my-md-3 my-lg-3 my-sm-0 white-bg shadow-sm rounded">
                                            <span class="ti-headphone-alt icon-lg color-primary d-block mb-4"></span>
                                            <h5>24/7 Call Center Service</h5>
                                            <p class="mb-0">Progressively empower business "outside the box" thinking
                                                with resource-leveling
                                                partnerships.</p>
                                            <a href="services-details.html" target="_blank" class="detail-link mt-4">Read
                                                more <span class="ti-arrow-right"></span></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="services-single p-5 my-md-3 my-lg-3 my-sm-0 white-bg shadow-sm rounded">
                                            <span class="ti-bell icon-lg color-primary d-block mb-4"></span>
                                            <h5>Social Media Marketing</h5>
                                            <p class="mb-0">Progressively empower business "outside the box" thinking
                                                with resource-leveling
                                                partnerships.</p>
                                            <a href="services-details.html" target="_blank" class="detail-link mt-4">Read
                                                more <span class="ti-arrow-right"></span></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="services-single p-5 my-md-3 my-lg-3 my-sm-0 white-bg shadow-sm rounded">
                                            <span class="ti-briefcase icon-lg color-primary d-block mb-4"></span>
                                            <h5>Corporate Business</h5>
                                            <p class="mb-0">Progressively empower business "outside the box" thinking
                                                with resource-leveling
                                                partnerships.</p>
                                            <a href="services-details.html" target="_blank" class="detail-link mt-4">Read
                                                more <span class="ti-arrow-right"></span></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="services-single p-5 my-md-3 my-lg-3 my-sm-0 white-bg shadow-sm rounded">
                                            <span class="ti-vector icon-lg color-primary d-block mb-4"></span>
                                            <h5>Creative Consultancy</h5>
                                            <p class="mb-0">Progressively empower business "outside the box" thinking
                                                with resource-leveling
                                                partnerships.</p>
                                            <a href="services-details.html" target="_blank" class="detail-link mt-4">Read
                                                more <span class="ti-arrow-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--outstanding section end-->

    <!--call to action section start-->
    <section class="call-to-action-video">
        <div class="row m-0">
            <div class="col-lg-6 col-md-12 p-0">
                <div class="free-trial-image text-center">
                    <img src="img/cta-2-girl-img.jpg" alt="image" class="img-fluid">
                    <a href="https://www.youtube.com/watch?v=9No-FiEInLA" class="popup-youtube video-play-icon white-bip shadow"><span class="ti-control-play"></span> </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 p-0">
                <div class="free-trial-content text-white">
                    <h2 class="text-white">Best Consulting Every Business</h2>
                    <p>Interactively evisculate performance based ROI whereas premier mindshare. Dramatically matrix real-time convergence rather than empowered manufactured products.</p>
                    <a href="#" class="btn primary-solid-btn mt-3">Start Now</a>
                </div>
            </div>
        </div>
    </section>
    <!--call to action section end-->

    <!--pricing with switch section start-->
    <section class="pricing-section ptb-100 gray-light-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-9 col-lg-8">
                    <div class="section-heading text-center mb-5">
                        <strong class="color-secondary">Our Pricing</strong>
                        <h2>Flexible Price</h2>
                        <span class="animate-border mr-auto ml-auto mb-4"></span>
                        <p class="lead">
                            Professional hosting at an affordable price. Distinctively recaptiualize principle-centered
                            core competencies through client-centered
                            core competencies.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-between">
                <div class="col-12">
                    <div class="switch-wrap text-center mb-5">
                        <label class="form-switch">
                            <span class="beforeinput text-success year-switch">
                                Monthly
                            </span>
                            <input type="checkbox" id="js-contcheckbox">
                            <span class="switch-icon gray-light-bg"></span>
                            <span class="afterinput year-switch">
                                Yearly
                            </span>
                        </label>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="card text-center single-pricing-pack">
                        <div class="price-img pt-5">
                            <img src="img/priching-img-1.png" alt="price" width="120" class="img-fluid">
                        </div>
                        <div class="card-header py-4 border-0 pricing-header">
                            <div class="price text-center mb-0 monthly-price">$19<span>.99</span></div>
                            <div class="price text-center mb-0 yearly-price">$69<span>.99</span></div>
                        </div>
                        <div class="price-name">
                            <h5 class="mb-0">Standard</h5>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mb-4 pricing-feature-list">
                                <li><span>Track 15</span> Keywords with our tool</li>
                                <li><span>50</span> Page Analysis</li>
                                <li><span>50</span> Crawl Pages with our crawl</li>
                                <li><span>1</span> Project to optimize site</li>
                                <li>24/7 Phone Support</li>
                            </ul>
                            <a href="#" class="btn outline-btn mb-3" target="_blank">Purchase now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="card popular-price text-center single-pricing-pack">
                        <div class="price-img pt-5">
                            <img src="img/priching-img-2.png" alt="price" width="120" class="img-fluid">
                        </div>
                        <div class="card-header py-4 border-0 pricing-header">
                            <div class="price text-center mb-0 monthly-price">$49<span>.99</span></div>
                            <div class="price text-center mb-0 yearly-price">$159<span>.99</span></div>
                        </div>
                        <div class="price-name">
                            <h5 class="mb-0">Premium</h5>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mb-4 pricing-feature-list">
                                <li><span>Track 15o</span> Keywords with our tool</li>
                                <li><span>100</span> Page Analysis</li>
                                <li><span>100</span> Crawl Pages with our crawl</li>
                                <li><span>5</span> Project to optimize site</li>
                                <li>24/7 Phone Support</li>
                            </ul>
                            <a href="#" class="btn primary-solid-btn mb-3" target="_blank">Purchase now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="card text-center single-pricing-pack">
                        <div class="price-img pt-5">
                            <img src="img/priching-img-3.png" alt="price" width="120" class="img-fluid">
                        </div>
                        <div class="card-header py-4 border-0 pricing-header">
                            <div class="price text-center mb-0 monthly-price">$69<span>.99</span></div>
                            <div class="price text-center mb-0 yearly-price">$259<span>.99</span></div>
                        </div>
                        <div class="price-name">
                            <h5 class="mb-0">Unlimited</h5>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mb-4 pricing-feature-list">
                                <li><span>Track 500</span> Keywords with our tool</li>
                                <li><span>250</span> Page Analysis</li>
                                <li><span>250</span> Crawl Pages with our crawl</li>
                                <li><span>10</span> Project to optimize site</li>
                                <li>24/7 Phone Support</li>
                            </ul>
                            <a href="#" class="btn outline-btn mb-3" target="_blank">Purchase now</a>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="support-cta text-center mt-5">
                        <h5 class="mb-1"><span class="ti-headphone-alt color-primary mr-3"></span>We're Here to Help You
                        </h5>
                        <p>Have some questions? <a href="#">Chat with us now</a>, or <a href="#">send us an email</a> to
                            get in touch.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--pricing with switch section end-->

    <!--blog section start-->
    <section class="our-blog-section ptb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-9">
                    <div class="section-heading text-center mb-5">
                        <strong class="color-secondary">New and Blog</strong>
                        <h2>Our Latest News</h2>
                        <span class="animate-border mr-auto ml-auto mb-4"></span>
                        <p class="lead">
                            Enthusiastically drive revolutionary opportunities before emerging leadership. Distinctively
                            transform tactical methods of empowerment via resource.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="single-blog-card card border-0 shadow-sm">
                        <div class="blog-img position-relative">
                            <img src="img/blog/1.jpg" class="card-img-top" alt="blog">
                            <div class="meta-date">
                                <strong>24</strong>
                                <small>Apr</small>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="post-meta mb-2">
                                <ul class="list-inline meta-list">
                                    <li class="list-inline-item"><i class="fas fa-heart mr-2"></i><span>45</span> Comments</li>
                                    <li class="list-inline-item"><i class="fas fa-share-alt mr-2"></i><span>10</span> Share</li>
                                </ul>
                            </div>
                            <h3 class="h5 mb-2 card-title"><a href="#">Appropriately productize fully</a></h3>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk.</p>
                            <a href="#" class="detail-link">Read more <span class="ti-arrow-right"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-blog-card card border-0 shadow-sm">
                        <div class="blog-img position-relative">
                            <img src="img/blog/2.jpg" class="card-img-top" alt="blog">
                            <div class="meta-date">
                                <strong>24</strong>
                                <small>Apr</small>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="post-meta mb-2">
                                <ul class="list-inline meta-list">
                                    <li class="list-inline-item"><i class="fas fa-heart mr-2"></i><span>45</span> Comments</li>
                                    <li class="list-inline-item"><i class="fas fa-share-alt mr-2"></i><span>10</span> Share</li>
                                </ul>
                            </div>
                            <h3 class="h5 mb-2 card-title"><a href="#">Quickly formulate backend</a></h3>
                            <p class="card-text">Synergistically engage effective ROI after customer directed partnerships.</p>
                            <a href="#" class="detail-link">Read more <span class="ti-arrow-right"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-blog-card card border-0 shadow-sm">
                        <div class="blog-img position-relative">
                            <img src="img/blog/3.jpg" class="card-img-top" alt="blog">
                            <div class="meta-date">
                                <strong>24</strong>
                                <small>Apr</small>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="post-meta mb-2">
                                <ul class="list-inline meta-list">
                                    <li class="list-inline-item"><i class="fas fa-heart mr-2"></i><span>45</span> Comments</li>
                                    <li class="list-inline-item"><i class="fas fa-share-alt mr-2"></i><span>10</span> Share</li>
                                </ul>
                            </div>
                            <h3 class="h5 mb-2 card-title"><a href="#">Objectively extend extensive</a></h3>
                            <p class="card-text">Holisticly mesh open-source leadership rather than proactive users. </p>
                            <a href="#" class="detail-link">Read more <span class="ti-arrow-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--blog section end-->

    <!--client section start-->
    <div class="client-section ptb-100" style="background: url('img/client-bg.jpg')no-repeat center center / cover">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <div class="client-heading-wrap">
                        <h3>Who are Happy With Services and Work</h3>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="client-para">
                        <p>Seamlessly administrate synergistic growth strategies and collaborative markets. Globally empower inexpensive infomediaries after sustainable mindshare. Phosfluorescently brand professional collaboration and idea-sharing without principle-centered interfaces. </p>
                    </div>
                </div>
            </div>
            <!--clients logo start-->
            <div class="row align-items-center justify-content-center mb-4">
                <div class="col-md-10 col-lg-9">
                    <div class="owl-carousel owl-theme clients-carousel dot-indicator client-logo-wrap">
                        <div class="item single-client">
                            <img src="img/clients-logo-01.png" alt="client logo" class="client-img">
                        </div>
                        <div class="item single-client">
                            <img src="img/clients-logo-02.png" alt="client logo" class="client-img">
                        </div>
                        <div class="item single-client">
                            <img src="img/clients-logo-03.png" alt="client logo" class="client-img">
                        </div>
                        <div class="item single-client">
                            <img src="img/clients-logo-04.png" alt="client logo" class="client-img">
                        </div>
                        <div class="item single-client">
                            <img src="img/clients-logo-05.png" alt="client logo" class="client-img">
                        </div>
                        <div class="item single-client">
                            <img src="img/clients-logo-06.png" alt="client logo" class="client-img">
                        </div>
                        <div class="item single-client">
                            <img src="img/clients-logo-07.png" alt="client logo" class="client-img">
                        </div>
                        <div class="item single-client">
                            <img src="img/clients-logo-08.png" alt="client logo" class="client-img">
                        </div>
                    </div>
                </div>
            </div>
            <!--clients logo end-->
        </div>
    </div>
    <!--client section end-->

</div>
<!--body content wrap end-->


{% endblock body %}